/*
#231F20 - black
#DD2B2A - red

font-family: 'Exo', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

BODY {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  color: #231F20;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 1.4em;
}

IMG { border: 0; }

A:link, A:visited {
  color: #0000FF;
  text-decoration: none;
  transition: all 0.2s;
}

A:hover, A:active {
  color: #FF0000;
  text-decoration: none;
}

H1 {
  margin: 0;
  font-family: 'Exo', sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 1em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
}

H2 {
  margin: 0;
  font-family: 'Exo', sans-serif;
  font-weight: 800;
  font-size: 29px;
  line-height: 1em;
  text-transform: uppercase;
}

.site-width {
  width: 1080px;
  margin: 0 auto;
}

.site-width:after,
.cf:after {
  content: "";
  display: table;
  clear: both;
}

HEADER {
  background: linear-gradient(#FFFFFF calc(100% - 17px), #231F20 calc(100% - 17px));
}

HEADER .site-width {
  display: flex;
  justify-content: space-between;
}

#logo {
  height: 136px;
  width: auto;
  margin: 6px 0 0 21px;
}

HEADER .site-width > DIV {
  align-self: center;
  margin-left: auto;
  text-align: right;
  font-family: 'Exo', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.4em;
  text-transform: uppercase;
}

HEADER .site-width > DIV > DIV {
  color: #DD2B2A;
  font-size: 150%;
  line-height: 1em;
}

NAV {
  background: #231F20;
  color: #FFFFFF;
  font-family: 'Exo', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1em;
  text-transform: uppercase;
  padding: 0.55em 0 1.45em;
}

NAV UL {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

NAV UL LI { margin-left: 4.5em; }
NAV UL LI:first-of-type { margin-left: 0; }

NAV UL LI A:link, NAV UL LI A:visited { color: #FFFFFF; }
NAV UL LI A:hover, NAV UL LI A:active { color: #B5B5B5; }

FOOTER { padding: 46px 0; }
FOOTER.footer-home { padding: 37px 0; }

FOOTER .site-width {
  display: flex;
  justify-content: space-between;
  position: relative;
}

FOOTER #logo-footer {
  height: 136px;
  width: auto;
  position: absolute;
  top: -61px;
}
FOOTER.footer-home #logo-footer { position: static; }

FOOTER .site-width > DIV {
  align-self: center;
  margin-left: auto;
  color: #DD2B2A;
  font-family: 'Exo', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 36px;
  line-height: 1.2em;
}

FOOTER .site-width > DIV SPAN { color: #717171; }
FOOTER.footer-home .site-width > DIV SPAN { color: #DD2B2A; }

FOOTER .site-width > DIV > DIV {
  display: none;
  color: #231F20;
  font-size: 66.66%;
  line-height: 1.6em;
}
FOOTER.footer-home .site-width > DIV > DIV { display: block; }

#copyright {
  padding: 44px 0;
  background: #231F20;
  color: #B5B5B5;
  text-align: center;
  font-weight: 800;
  font-size: 16px;
  line-height: 1em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}


/* Multiple pages */
#page-title {
  padding: 0.9em 0 0.81em;
  background: #DD2B2A;
  color: #FFFFFF;
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

#page-title-text {
  padding: 0.8em 0 0.2em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3em;
  letter-spacing: 0.2em;
  text-transform: none;
}

#header-black {
  padding: 0.9em 0 0.8em;
  background: #231F20;
  color: #FFFFFF;
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

#header-red {
  padding: 1em 0.5em 0.9em;
  background: #DD2B2A;
  color: #FFFFFF;
  font-family: 'Exo', sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
}

#request-quote {
  padding: 1.33em 0;
  background: #231F20;
  color: #FFFFFF;
  font-family: 'Exo', sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#request-quote .site-width {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#request-quote .site-width DIV { padding-top: 0.1em; }

#request-quote A:link, #request-quote A:visited {
  margin-left: auto;
  padding: 0.6em 2em 0.5em;
  background: #DD2B2A;
  color: #FFFFFF;
  font-size: 73.91%;
  line-height: 1em;
  letter-spacing: 0;
}

#request-quote A:hover, #request-quote A:active {
  background: #FFFFFF;
  color: #DD2B2A;
}


/* HOME */
#hero {
  height: 680px;
  background: url(../images/hero.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,0.5));
}

#hero .text {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  padding: 5.5em 3.5em;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 757 483'%3E%3Cpath d='M378.5 0 L757 241.5 L378.5 483 L0 241.5 Z'/%3E%3C/svg%3E") no-repeat center center;
  color: #DD2B2A;
  font-family: 'Exo', sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
}

#hero .text DIV {
  padding: 0.25em 0 0.75em;
  color: #FFFFFF;
  font-size: 120%;
  line-height: 1em;
  white-space: nowrap;
}

#hero .text A:link, #hero .text A:visited {
  display: inline-block;
  padding: 0.6em 2em 0.5em;
  background: #DD2B2A;
  color: #FFFFFF;
  font-size: 88.7%;
  line-height: 1em;
}

#hero .text A:hover, #hero .text A:active { color: #B5B5B5; }

#home-about {
  padding: 5em 0;
  background: #DD2B2A url(../images/texture.jpg) no-repeat center center;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  line-height: 2em;
  letter-spacing: 0.1em;
  text-align: center;
  position: relative;
}

#home-about:before, #home-about:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 657.2px;
  transform: translateX(-100%);
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 527 700'%3E%3Cpath d='M0 0 L527 350 L0 700 Z' fill='%23DD2B2A'/%3E%3C/svg%3E") no-repeat left center;
}

#home-about:after {
  transform: none;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 527 700'%3E%3Cpath d='M527 0 L0 350 L527 700 Z' fill='%23DD2B2A'/%3E%3C/svg%3E") no-repeat right center;
}

#home-about .site-width { box-sizing: border-box; padding: 0 10.5%; }

#home-services {
  padding: 5em 0;
  font-weight: 600;
  text-align: center;
}

#hservices {
  display: flex;
  justify-content: space-between;
  margin: 55px 0;
}

#hservices DIV {
  min-height: 200px;
  width: 40%;
  box-sizing: border-box;
  padding-left: 11.57%;
  line-height: 1.2em;
  letter-spacing: 0.2em;
  text-align: left;
  position: relative;
}

#hservices DIV IMG {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: auto;
  z-index: -1;
  opacity: 0.25;
}

#hservices DIV H2 {
  margin: 0.4em 0 0.2em;
  letter-spacing: 0;
}

#home-services A:link, #home-services A:visited {
  display: inline-block;
  margin: 0.25em auto;
  padding: 0.6em 2em 0.5em;
  background: #DD2B2A;
  color: #FFFFFF;
  font-family: 'Exo', sans-serif;
  font-size: 26.61px;
  line-height: 1em;
  text-transform: uppercase;
}

#home-services A:hover, #home-services A:active { color: #B5B5B5; }

#home-industries {
  padding: 3em 0;
  background: #DD2B2A;
  color: #FFFFFF;
  font-family: 'Exo', sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  text-transform: uppercase;
  text-align: center;
}

#home-industries H3 {
  margin: 0.8em auto 2.5em;
  color: #231F20;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1em;
  width: 50%;
}

#home-industries UL {
  margin: 0 auto;
  padding: 0;
  width: 75%;
  text-align: left;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 75px;
  -moz-column-gap: 75px;
  column-gap: 75px;
  list-style-type: none;
}

#home-industries UL LI {
  padding: 0.4em 0;
  letter-spacing: 0.1em;
  white-space: nowrap;
}

#home-industries UL LI:before {
  content: "\25AA";
  color: #231F20;
  margin-right: 0.5em;
}


/* SERVICES */
#services-powder,
#services-sandblasting {
  position: relative;
  overflow: hidden;
}
#services-sandblasting {
  background: #DD2B2A;
  color: #FFFFFF;
}

#services-powder .site-width,
#services-sandblasting .site-width {
  min-height: 449px;
  display: flex;
  align-items: center;
}
#services-sandblasting .site-width { justify-content: flex-end; }

#services-powder .text,
#services-sandblasting .text {
  margin: 40px 0;
  width: 55%;
  min-height: 182px;
  box-sizing: border-box;
  padding-left: 103px;
  font-weight: 600;
  letter-spacing: 0.2em;
  position: relative;
  z-index: 2;
}
#services-sandblasting .text {
  padding: 0 90px 0 0;
  text-align: right;
}

#services-powder .text IMG,
#services-sandblasting .text IMG {
  position: absolute;
  top: 0;
  left: -33px;
  height: 182px;
  width: auto;
  z-index: -1;
  opacity: 0.25;
}
#services-sandblasting .text IMG {
  left: auto;
  right: -33px;
  filter: brightness(0) invert(1);
}

#services-powder .text H2,
#services-sandblasting .text H2 {
  margin: 0.5em 0 0.25em;
  font-size: 47px;
  line-height: 1em;
  letter-spacing: 0;
}

#services-powder > IMG,
#services-sandblasting > IMG {
  position: absolute;
  top: 0;
  left: 55%;
  height: 100%;
  width: auto;
}
#services-sandblasting > IMG { left: auto; right: 52%; }

#additional .site-width {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 43px 0;
}

#additional .site-width DIV {
  margin: 32px 0;
  width: 48%;
  min-height: 182px;
  box-sizing: border-box;
  padding-left: 130px;
  font-weight: 600;
  letter-spacing: 0.2em;
  position: relative;
}

#additional .site-width DIV:last-of-type { margin: 32px auto; }

#additional .site-width DIV IMG {
  position: absolute;
  top: 0;
  left: 0;
  height: 182px;
  width: auto;
  z-index: -1;
  opacity: 0.25;
}

#additional .site-width DIV H2 {
  margin: 0.8em 0 0.2em;
  font-size: 36px;
  line-height: 1em;
  letter-spacing: 0;
}


/* PROCESS */
#process3 {
  background-image: linear-gradient(to left, transparent 50%, #DD2B2A 50%), url(../images/texture.jpg);
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
}

#process .site-width {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}

#process .site-width DIV,
#process3 .site-width DIV {
  width: 50%;
  min-height: 182px;
  box-sizing: border-box;
  padding-left: 115px;
  font-weight: 600;
  letter-spacing: 0.12em;
  position: relative;
}

#process3 .site-width DIV {
  width: 60%;
  padding: 75px 0 75px 115px;
  background: #DD2B2A;
  letter-spacing: 0.2em;
}

#process3 .site-width DIV:after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 125px;
  height: 100%;
  background: linear-gradient(to bottom right, #DD2B2A 50%, transparent 50%);
}

#process .site-width DIV:first-of-type,
#process3 .site-width DIV {
  -webkit-transform: translateX(-33px);
  -ms-transform: translateX(-33px);
  transform: translateX(-33px);
}

#process .site-width DIV IMG,
#process3 .site-width DIV IMG {
  position: absolute;
  top: 0;
  left: -8px;
  height: 182px;
  width: auto;
  z-index: -1;
  opacity: 0.25;
}

#process3 .site-width DIV IMG { top: 70px; filter: brightness(0) invert(1); }

#process .site-width DIV H2,
#process3 .site-width DIV H2 {
  margin: 0.8em 0 0.3em;
  font-size: 36px;
  line-height: 1em;
  letter-spacing: 0;
}

#process3 .site-width DIV H2 {
  margin-top: 0.4em;
  font-size: 42px;
}

#process3 .site-width DIV H2 SPAN {
  font-weight: 700;
  font-size: 38%;
  line-height: 1em;
  letter-spacing: 0.05em;
  position: relative;
  top: -0.5em;
}

#process3 > IMG {
  position: absolute;
  top: 50%;
  left: 57%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#supporting > DIV {
  display: flex;
  position: relative;
  min-height: 335px;
  overflow: hidden;
}

#supporting > DIV .site-width { display: inherit; }
#supporting > DIV.right .site-width { justify-content: flex-end; }

#supporting > DIV .site-width > DIV {
  width: 57%;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
}

#supporting > DIV .site-width > DIV:after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 125px;
  height: 100%;
  background: linear-gradient(to bottom right, #FFFFFF 50%, transparent 50%);
}
#supporting > DIV.right .site-width > DIV:after {
  left: -125px;
  background: linear-gradient(to bottom left, #FFFFFF 50%, transparent 50%);
}

#supporting > DIV .site-width > DIV DIV {
  box-sizing: border-box;
  padding: 0 100px 0 33px;
  font-weight: 600;
  letter-spacing: 0.12em;
  position: relative;
  z-index: 3;
}
#supporting > DIV.right .site-width > DIV DIV {
  padding: 0 33px 0 100px;
  text-align: right;
}

#supporting > DIV .site-width > DIV DIV:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: -33px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 182px;
  width: 163px;
  background: url(../images/shield.svg) left top no-repeat;
  background-size: cover;
  opacity: 0.25;
}
#supporting > DIV.right .site-width > DIV DIV:before { left: auto; right: -33px; }

#supporting > DIV .site-width > DIV DIV H2 {
  margin-bottom: 0.1em;
  font-size: 42px;
}

#supporting > DIV > IMG {
  position: absolute;
  top: 0;
  left: 53%;
  height: 100%;
  width: auto;
}
#supporting > DIV.right IMG { left: auto; right: 53%; }


/* ABOUT */
#about {
  background-image: linear-gradient(110deg, #FFFFFF 59%, #231F20 59%);
  min-height: 395px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

#about .site-width {
  box-sizing: border-box;
  padding: 3em 0;
  font-weight: 600;
  letter-spacing: 0.12em;
}

#about .site-width DIV { width: 48%; }

#about IMG {
  position: absolute;
  top: 50%;
  left: 52%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#facilities { padding: 70px 0; }

#facilities .site-width { display: flex; justify-content: space-between; }

#facilities .site-width > DIV {
  width: 45%;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4em;
  box-sizing: border-box;
}

#facilities .site-width > DIV:last-of-type {
  width: 44%;
  margin-left: auto;
  border-left: 11px solid #DD2B2A;
  padding-left: 21px;
}

#facilities H3, #facilities H4 {
  margin: 0 0 0.75em;
  color: #DD2B2A;
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1em;
}

#facilities H4 {
  margin: 0 0 0.25em;
  color: #231F20;
  font-size: 24px;
  line-height: 1.2em;
}























@media only screen and (min-width: 1601px) {
  #services-powder > IMG { left: auto; right: 0; }
  #services-sandblasting > IMG { left: 0; right: auto; }

  #process3 > IMG { left: auto; right: 0; }

  #supporting > DIV > IMG { left: auto; right: 0; }
  #supporting > DIV.right > IMG { left: 0; right: auto; }

  #about IMG { left: auto; right: 0; }
}

@media only screen and (max-width: 1330px) {
  #home-about:before, #home-about:after { width: 50%; }
}

@media only screen and (max-width: 1250px) {
  #home-about .site-width { padding: 0 15%; font-size: 1.2vw; line-height: 2em; }
}

@media only screen and (max-width: 1150px) {
  #home-about { padding: 4em 0; }

  #services-powder .text IMG { left: 0; }
  #services-sandblasting .text IMG { right: 0; }

  #process .site-width DIV:first-of-type,
  #process3 .site-width DIV {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  #process3 > IMG { left: 60%; }

  #supporting > DIV .site-width > DIV { width: 50%; }

  #supporting > DIV .site-width > DIV DIV  { padding: 0 0 0 66px; }
  #supporting > DIV.right .site-width > DIV DIV { padding: 0 66px 0 0; }

  #supporting > DIV .site-width > DIV DIV:before { left: 0; }
  #supporting > DIV.right .site-width > DIV DIV:before { right: 0; }

  #supporting > DIV > IMG { left: auto; right: 0; }
  #supporting > DIV.right IMG { left: 0; right: auto; }

  #about IMG { left: 48%; }
}

@media only screen and (max-width: 1095px) {
  .site-width { width: 96%; }
  
  #home-about { overflow: hidden; }
  #home-about:before { transform: translateX(-115%); }
  #home-about:after { transform: translateX(15%); }
  #home-about .site-width { font-size: 15px; line-height: 2em; }

  #home-industries UL { width: auto; }

  #services-powder .text { width: 60%; padding-left: 10%; }
  #services-powder > IMG { left: 60%; }
  #services-sandblasting .text { width: 60%; padding-right: 10%; }
  #services-sandblasting > IMG { right: 55%; }

  #additional .site-width DIV { padding-left: 12.5%; }

  #process3 .site-width DIV H2 SPAN {
    display: block;
    top: 0;
    margin-top: 0.25em;
  }
}

@media only screen and (max-width: 900px) {
  #request-quote { font-size: 3.8vw; }

  #home-about:before { transform: translateX(-125%); }
  #home-about:after { transform: translateX(25%); }

  #hservices DIV { width: 48%; }

  #home-industries H3 { width: 60%; }

  #services-powder .text IMG,
  #services-sandblasting .text IMG { height: 112px; }

  #supporting > DIV > IMG { right: -25%; }

  #about IMG { height: 150%; }
}

@media only screen and (max-width: 800px) {
  #hero { height: auto; }
  #hero:after { content: ""; display: block; padding-top: 72.5%; }
  #hero .text { font-size: 3.7vw; }

  #home-about:before { transform: translateX(-140%); }
  #home-about:after { transform: translateX(40%); }
  
  #home-industries H3 { width: 70%; }
  #home-industries UL {
    display: inline-block;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  
  #process .site-width { flex-direction: column; padding: 30px 0; }
  #process .site-width DIV { width: 100%; margin: 30px 0; }

  #process3 > IMG { left: 55%; }

  #supporting > DIV.right IMG { left: -40%; }
  #supporting > DIV .site-width > DIV DIV H2 { font-size: 4.3vw; }

  #facilities .site-width { flex-direction: column; }
  #facilities .site-width > DIV { width: 100%; }
  #facilities .site-width > DIV:last-of-type {
    margin: 24px 0 0;
    width: 100%;
    border-top: 11px solid #DD2B2A;
    border-left: 0;
    padding: 21px 0 0;
  }
}

@media only screen and (max-width: 700px) {
  FOOTER { padding: 0 0 10px; }
  FOOTER.footer-home { padding: 29px 0 37px; }

  FOOTER .site-width { flex-direction: column; align-items: center; transform: translateY(-16px); }
  FOOTER.footer-home .site-width { transform: none; }

  FOOTER .site-width > DIV { margin: 0 auto; }

  FOOTER #logo-footer { position: static; }

  #home-about:before, #home-about:after { display: none; }
  #home-about .site-width { padding: 0; }

  #home-industries H3 { width: 100%; }

  #services-powder .text H2,
  #services-sandblasting .text H2 { font-size: 6.2vw; }

  #additional .site-width DIV {
    width: 100%;
    padding-left: 130px;
  }

  #process3 { background: #DD2B2A; }

  #process3 .site-width DIV { width: 100%; padding: 50px 0 35% 115px; }

  #process3 > IMG {
    top: auto;
    left: auto;
    bottom: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    max-width: 100%;
    height: auto;
  }
  
  #supporting > DIV { flex-direction: column; }
  #supporting > DIV > IMG { position: static; max-width: 100%; height: auto; }
  #supporting > DIV .site-width > DIV { width: 100%; min-height: 182px; margin: 50px 0; }
  #supporting > DIV .site-width > DIV DIV H2 { font-size: 42px; }
  
  #about { flex-direction: column; background: #FFFFFF; }
  #about .site-width { padding-bottom: 1em; }
  #about .site-width DIV { width: 100%; }
  #about IMG {
    position: static;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    max-width: 90%;
    height: auto;
    align-self: flex-end;
    margin-bottom: 2em;
  }
}

@media only screen and (max-width: 600px) {
  HEADER .site-width > DIV { display: none; }

  NAV UL { justify-content: center; }
  NAV UL LI { margin-left: 14%; }
  
  #request-quote { font-size: 6.5vw; }
  #request-quote .site-width { flex-direction: column; }
  #request-quote A:link, #request-quote A:visited { margin: 1em auto; }

  #hero:after { padding-top: 68%; }

  #hservices { flex-direction: column; }
  #hservices DIV { width: 100%; padding-left: 24%; }
  #hservices DIV:last-of-type { margin-top: 3em; }

  #home-services A:link, #home-services A:visited {
    padding: 0.6em 1em 0.5em;
    font-size: 4.5vw;
  }

  #home-industries UL {
    display: inline-flex;
    flex-direction: column;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  
  #services-powder,
  #services-sandblasting {
    padding-bottom: 250px;
  }

  #services-powder .site-width,
  #services-sandblasting .site-width {
    min-height: 0;
    background: #FFFFFF;
    width: 100%;
    padding: 0 2%;
    position: relative;
    z-index: 2;
  }
  #services-sandblasting .site-width { background: #DD2B2A; justify-content: flex-start; }

  #services-powder .text,
  #services-sandblasting .text {
    width: 96%;
    padding-left: 125px;
  }
  #services-sandblasting .text { padding: 0 125px 0 0; }

  #services-powder .text IMG,
  #services-sandblasting .text IMG { height: 182px; }

  #services-powder > IMG,
  #services-sandblasting > IMG {
    top: auto;
    left: auto;
    right: 0;
    bottom: -20%;
  }
  #services-sandblasting > IMG {
    left: 0;
    right: auto;
    height: 75%;
  }

  #expedited { font-size: 6vw; }
}

@media only screen and (max-width: 480px) {
  NAV { font-size: 3.33vw; }
  NAV UL LI { margin-left: 12%; }

  #header-black { font-size: 10vw; }

  #home-industries H1 { font-size: 10vw; }

  #services-sandblasting > IMG { left: -22%; }
  
  #process .site-width DIV H2 { font-size: 7.5vw; }
  #process3 .site-width DIV H2 { font-size: 8.7vw; }
}